.btn {
  display: inline-block;
  vertical-align: top;
  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 21px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  font-weight: bold;

  background-color: @blue;
  cursor: pointer;

    &--search-block {
      width: 280px;
    }

    &--send {
      width: 280px;
      border: none;
      outline: none;
      margin: 0 20px;
      font-family: "PT Sans", "Arial", sans-serif;
      text-transform: uppercase;
      margin-bottom: 80px;
    }

    &--popup-failure {
      width: 180px;
    }

    &--popup-success {
      width: 280px;
    }

    &--attach {
      width: 280px;
      color: @gray-minus;
      background-color: @gray-form;
    }
}

@media(min-width: @screen_md) {
  .btn {
    &--search-block {
      width: 100%;
    }

    &--attach {
      width: 458px;
      margin-bottom: 35px;
    }

    &--send {
      width: 458px;
      margin: 0 155px;
      margin-bottom: 105px;
    }

    &--popup-failure {
      width: 272px;
    }

    &--popup-success {
      width: 458px;
    }

  }
}
