.checkbox-list {
  list-style: none;
  padding: 0;
  margin: 0;

    &__wrap {
      margin-bottom: 55px;
    }

    &__col:last-child {
      li:last-child {
        margin-bottom: 30px;
      }
    }

    &__item {
      display: none;
    }

    &__label {
      position: relative;
      margin-left: 79px;
      font-size: @font-size-base+4;
      line-height: 26px;
      color: #000;
      text-transform: none;
      font-weight: bold;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: -13px;
        left: -80px;
        width: 56px;
        height: 56px;
        border-radius: 3px;
        background-color: @gray-form;
      }

      &::after {
        content: "";
        display: none;
        position: absolute;
        top: 4px;
        left: -62.5px;
        width: 25px;
        height: 19px;
        background: url("../img/spritesheet.png") no-repeat -105px -3px;
      }
    }

    &__item:checked+label::after {
      display: block;
    }
}

@media(min-width: @screen_md) {
  .checkbox-list {
    display: flex;
    padding-left: 97px;
    padding-right: 97px;

    &__col {
      display: flex;
      flex-direction: column;
      width: 50%;

      &:first-child {
        margin-right: 55px;
      }
    }

    &__wrap {
      margin-bottom: 65px;

      &:last-child {
        margin-bottom: 55px;
      }
    }
  }
}

