.period {
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;

  border-bottom: 1px solid @gray-form-border;

  &__title {
    margin-bottom: 22px;
    margin-left: 40px;
    padding-top: 5px;

    font-weight: bold;
    font-size: @font-size-title;
    line-height: 26px;
    color: #000000;
  }

  &__wrap {
    font-size: 0;
  }

  &__label {
    display: inline-block;
    margin-bottom: 8px;
    margin-left: 21px;

    font-size: @font-size-base;
    line-height: 26px;
    vertical-align: top;

    cursor: pointer;

    &--required {
      &::after {
        content: "*";

        margin-left: 4px;

        color: @red;
      }
    }
  }

  &__field {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 14px;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 22px;

    font-weight: bold;
    font-size: @font-size-input;
    line-height: 26px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    text-transform: none;

    background-color: @gray-form;
    border: none;
    outline: none;

    &:hover {
      background-color: @gray-form-border;
    }

    &:focus {
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 20px;

      background-color: #ffffff;
      border: 2px solid @gray-form-border;
    }

    &--days {
      width: 83px;
      margin: 0;
      padding-top: 16px;
      padding-bottom: 16px;

      &:hover {
        background-color: @gray-form;
      }

      &:focus {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 22px;

        background-color: @gray-form;
        border: none;
      }
    }

    &--border {
      padding-top: 14px;
      padding-bottom: 14px;

      border: 2px solid @gray-minus;

      &:focus {
        padding-left: 22px;
      }
    }
  }

  &__counter {
    margin-bottom: 14px;
  }

  &__row {
    font-size: 0;
  }

  &__minus-btn,
  &__plus-btn {
    display: inline-block;
    width: 61px;
    height: 58px;
    padding: 0;

    vertical-align: top;

    background-color: @gray-form;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: @gray-form-border;

      &::before {
        opacity: 1;
      }
    }

    &:active {
      background-color: @gray-btn-active;

      &::before {
        opacity: 0.3;
      }
    }
  }

  &__plus-btn {
    position: relative;

    font-size: 0;

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 20px;

      width: 20px;
      height: 20px;

      background: url("../img/spritesheet.png") no-repeat -79px -3px;
      opacity: 0.6;
    }
  }

  &__minus-btn {
    position: relative;

    margin-right: 7px;

    font-size: 0;

    &::before {
      content: "";
      position: absolute;
      top: 28px;
      left: 21px;

      width: 20px;
      height: 4px;

      background-color: @gray-minus;
      border-radius: 1px;
      opacity: 0.6;
    }
  }

  &__counter-wrap {
    display: inline-block;
    width: 145px;
    margin-right: 6px;

    vertical-align: top;

    background-color: @gray-form;

    span {
      margin-left: 18px;

      font-size: 18px;
      color: #000000;
      text-transform: none;

      opacity: 0.4;
    }
  }
}

/* tablet-layout */

@media(min-width: @screen_md) {
  .period {
    margin-bottom: 50px;
    padding: 0;

    border: none;

    &__wrap-title {
      margin-bottom: 23px;

      text-align: center;

      &::after {
        content: "";
        position: relative;
        top: -13px;

        display: block;

        border-bottom: 1px solid @gray-form-hr;
      }
    }

    &__title {
      position: relative;
      z-index: 2;

      display: inline;
      margin: 0;
      padding-right: 85px;
      padding-left: 85px;

      font-size: @font-size-title+3;
      line-height: 26px;
      text-align: center ;

      background-color: #ffffff;
    }

    &__wrap-fields {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__wrap {
      width: 176px;
    }

    &__counter-wrap {
      width: 54px;
      margin: 0;

      span {
        display: none;
      }
    }

    &__minus-btn {
      width: 61px;
      margin: 0;
    }

    &__plus-btn {
      width: 61px;
      margin: 0;
    }

    &__field {
      &--days {
        width: 54px;
        padding-right: 0;
        padding-left: 0;

        text-align: center;

        &:focus {
          padding-left: 0;
        }
      }
    }
  }
}

/* desktop-layout */

@media(min-width: @screen_lg) {
  .period {
    &__wrap {
      width: 278px;
    }

    &__counter-wrap {
      width: 145px;
      margin-right: 6px;

      span {
        display: inline;
        margin-left: 43px;
      }
    }

    &__minus-btn {
      margin-right: 6px;
    }

    &__field {
      &--days {
        padding-left: 10px;

        &:focus {
          padding-left: 10px;
        }
      }
    }
  }
}
