.photos {
  padding-left: 20px;
  padding-right: 20px;

    &__title {
      margin-bottom: 18px;
      padding-top: 18px;
      font-size: @font-size-title;
      line-height: 26px;
      color: #000;
      font-weight: bold;
      text-align: center;
    }

    &__attach {
      overflow: hidden;
      cursor: pointer;


      input {
        opacity: 0;
        margin-bottom: 32px;
      }
    }
}
