.photos {
  padding-right: 20px;
  padding-left: 20px;

  &__title {
    margin-bottom: 18px;
    padding-top: 3px;

    font-weight: bold;
    font-size: @font-size-title;
    line-height: 26px;
    text-align: center;
    color: #000000;
  }

  &__attach {
    overflow: hidden;

    cursor: pointer;


    input {
      margin-bottom: 32px;

      opacity: 0;
    }
  }
}

/* tablet-layout */

@media(min-width: @screen_md) {
  .photos {
    margin-bottom: 10px;
    padding: 0;

    border: none;

    &__wrap-title {
      margin-bottom: 55px;

      text-align: center;

      &::after {
        content: "";
        position: relative;
        top: -13px;

        display: block;

        border-bottom: 1px solid @gray-form-hr;
      }
    }

    &__title {
      position: relative;
      z-index: 2;

      display: block;
      width: 280px;
      margin: 0 auto;
      padding-top: 17px;
      padding-right: 63px;
      padding-left: 63px;

      font-size: @font-size-title+3;
      line-height: 26px;
      text-align: center ;

      background-color: #ffffff;
    }

    &__attach {
      margin-left: 96px;
    }
  }
}

/*desktop-layout */

@media(min-width: @screen_lg) {
  .photos {
    margin-bottom: 15px;

    &__attach {
      margin-left: 0;
    }
  }
}
