.reason-features {
  margin-bottom: 37px;
  padding-top: 35px;
  padding-right: 20px;

  &__home {
    position: relative;

    margin-bottom: 28px;
    padding-left: 70px;
  }

  &__home-img {
    position: absolute;
    top: -11px;
    left: 21px;

    fill: @blue;
  }

  &__food {
    position: relative;

    margin-bottom: 28px;
    padding-left: 70px;
  }

  &__food-img {
    position: absolute;
    top: -8px;
    left: 20px;

    fill: @blue;
  }

  &__gift {
    position: relative;

    padding-left: 70px;
  }

  &__gift-img {
    position: absolute;
    top: -8px;
    left: 20px;

    fill: @blue;
  }

  &__title {
    margin-bottom: 10px;

    font-weight: bold;
    font-size: @font-size-title;
    line-height: 26px;
    color: #000000;
  }
}

/* tablet-layout */

@media(min-width: @screen_md) {
  .reason-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-right: 0;

    &__home,
    &__food,
    &__gift {
      width: 33%;
      margin: 0;
      padding: 0;
      padding-top: 125px;

      text-align: center;
    }

    &__title {
      margin-bottom: 20px;

      font-size: @font-size-title+3;
      line-height: 26px;
    }

    &__gift {
      p {
        width: 166px;
        margin: 0 auto;
      }
    }

    &__text {
      width: 158px;
      margin: 0 auto;
    }

    &__home-img {
      top: 26px;
      left: 90px;

      svg {
        width: 75px;
        height: 70px;
      }
    }

    &__food-img {
      top: 26px;
      left: 87px;

      svg {
        width: 75px;
        height: 70px;
      }
    }

    &__gift-img {
      top: 22px;
      left: 88px;

      svg {
        width: 65px;
        height: 76px;
      }
    }
  }
}

/* desktop-layout */

@media(min-width: @screen_lg) {
  .reason-features {
    margin-bottom: 82px;

    &__home-img {
      left: 160px;
    }

    &__food-img {
      left: 160px;
    }

    &__gift-img {
      left: 160px;
    }

    &__text {
      width: auto;
      margin: 0;
    }

    &__home {
      p {
        padding-right: 60px;
        padding-left: 60px;
      }
    }

    &__food {
      p {
        padding-right: 50px;
        padding-left: 50px;
      }
    }

    &__gift {
      p {
        width: auto;
        margin: 0;
        padding-right: 75px;
        padding-left: 75px;
      }
    }
  }
}
