.reasons-list {
  &__wrap {
    padding-right: 20px;
    padding-left: 20px;

    text-align: center;

    background-color: @gray;
  }
}

/* tablet-layout */

@media(min-width: @screen_md) {
  .reasons-list {
    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
    }
  }
}


