.reviewer {
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  border-bottom: 1px solid @gray-form-border;

  &__title {
    margin-bottom: 26px;
    margin-left: 8px;
    padding-top: 8px;

    font-weight: bold;
    font-size: @font-size-title;
    line-height: 26px;
    color: #000000;
  }

  &__wrap {
    font-size: 0;
  }

  &__label {
    display: inline-block;
    margin-bottom: 6px;
    margin-left: 21px;

    font-size: @font-size-base;
    line-height: 26px;
    vertical-align: top;

    cursor: pointer;

    &--required {
      &::after {
        content: "*";

        margin-left: 4px;

        color: @red;
      }
    }
  }

  &__field {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 22px;

    font-weight: bold;
    font-size: @font-size-input;
    line-height: 26px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    text-transform: none;

    background-color: @gray-form;
    border: none;
    outline: none;

    &:hover {
      background-color: @gray-form-border;
    }

    &:focus {
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 20px;

      background-color: #ffffff;
      border: 2px solid @gray-form-border;
    }
  }
}

/* table-layout */

@media(min-width: @screen_md) {
  .reviewer {
    margin-bottom: 50px;
    padding: 0;

    border: none;

    &__wrap-title {
      margin-bottom: 25px;

      text-align: center;

      &::after {
        content: "";
        position: relative;
        top: -13px;

        display: block;

        border-bottom: 1px solid @gray-form-hr;
      }
    }

    &__title {
      position: relative;
      z-index: 2;

      display: inline;
      margin: 0;
      padding-right: 47px;
      padding-left: 47px;

      font-size: @font-size-title+3;
      line-height: 26px;
      text-align: center ;

      background-color: #ffffff;
    }

    &__wrap-fields {
      display: flex;
    }

    &__field {
      width: 176px;
    }

    &__wrap {
      margin-right: 58px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* desktop-layout */

@media(min-width: @screen_lg) {
  .reviewer {
    &__field {
      width: 278px;
    }

    &__wrap {
      margin-right: 61px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
