.tourism-desc {
  padding-top: 35px;
  padding-bottom: 12px;

    &__title {
      margin-bottom: 18px;
      font-size: @font-size-title;
      font-weight: bold;
      line-height: 10px;
      color: #000;
    }

    &__number {
      margin-bottom: 23px;
    }
}

@media(min-width: @screen_md) {
  .tourism-desc {
    padding-top: 45px;
    padding-bottom: 30px;
    text-align: center;

    &__title {

      font-size: @font-size-title+3;
      line-height: 26px;
      width: 119px;
      margin: 0 auto;
      margin-bottom: 10px;
    }

    &__text {
      white-space: pre-wrap;
      width: 160px;
      margin: 0 auto;
      padding-top: 23px;
    }
  }
}
