.town-reason {
  &__item-img {
    img {
      width: 320px;
      height: 256px;
    }
  }
}

//tablet

@media(min-width: @screen_md) {
  .town-reason {
    &__item {
      display: flex;
    }

    &__item-img {
      height: 256px;

      img {
        width: 512px;
      }
    }
  }
}
